<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Имя:</h3>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <h3>Адрес электронной почты:</h3>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <h3>Описание:</h3>
    <%= f.text_area :description, placeholder: "Расскажите о себе...", class: "text_area" %>
  </div>

    <div class="field">
    <h3>Пароль:</h3>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
